@import "./variables.scss";

.overlay {
    background-color: rgba(0, 0, 0, 0.609);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.info-popup {
    background-color: white;
    padding: 1rem;
    width: fit-content;
    min-width: 195px;
    border-radius: 5px;
    box-shadow: 0 2px 15px grey;
    position: fixed;
    top: 50%;
    left: 50%;
    // centers the box
    transform: translate(-50%, -50%);
    z-index: 10;

    &__message {
        font-size: 15px;
        text-align: center;    
    }
}

.button-container {
    width: fit-content;
    margin: 1rem auto 0;

    & > :first-child {
        margin-right: 1rem;
    }
    & > * {
        padding: .5rem;
        border: none;
        border-radius: 10px;
        background: $color-highlight;
        color: white;
        font-size: 16px;
    }
}