
.valuepair-table {
    margin: 3rem auto;
    width: 400px;
    border-collapse: collapse;
    
    &__row {
        width: 100%;
        text-transform: capitalize;
        border: solid #dddddd 1px;
        padding: .5rem;
    }
    &__key {
        width: 50%;
        text-align: left;
        padding: .5rem;
        font-weight: 500;
    }
    &__value {
        width: 50%;
        padding: .5rem;
    }
}