@import "./variables.scss";

.valuepair-table {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    border-collapse: collapse;
    
    &__row {
        width: 100%;
        text-transform: capitalize;
        border: solid #dddddd 1px;
        padding: .5rem;
    }
    &__key {
        width: 50%;
        text-align: center;
        padding: 1rem;
        font-weight: 500;
        border: solid #dddddd 1px;
    }
    &__value {
        text-align: center;
        width: 50%;
        padding: 1rem;
    }
}

.animal-details {
    margin: 1rem auto;
    width: 450px;

    &__container {
        margin: 3rem 0 1rem;
        display: flex;
        align-items: center;
        &>:last-child {
            margin-left: 1rem;
        }
    }
    &__heading {
        text-transform: capitalize;
        margin-right: auto;    
    }
}
