
.animal-details__heading {
    text-align: center;
    margin-top: 2rem;
}

.valuepair-table {
    margin: 1rem auto;
    width: 450px;
    border-collapse: collapse;
    
    &__row {
        width: 100%;
        text-transform: capitalize;
        border: solid #dddddd 1px;
        padding: .5rem;
    }
    &__key {
        width: 50%;
        text-align: left;
        padding: 1rem;
        font-weight: 500;
    }
    &__value {
        width: 50%;
        padding: 1rem;
    }
}
